.button-icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: none;
  transition: ease-out 0.2s;
  outline: transparent;
  background-color: $body-bg-input;
}
.button-icon-img {
  width: 32px;
  height: 20px;
  color: $icon-button-bg;
  &:hover {
    color: $name-color;
  }
  &:focus {
    color: $name-color;
    opacity: 0.3;
  }
}
