.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
}
.contact__title {
  margin: 0 auto;
  @include font(19px, 26px, 700);
  margin-bottom: 17px;
}
.contact__label {
}
.contact__subtitle {
}
.contact__button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.contact__input {
  width: 79%;
  padding: 18px 22px 14px;
}
.contact__link {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color:$body-bg-icon;
}
.contact__icon {
  width: 18px;
  height: 18px;
}
