.footer__container {
  padding-top: 39px;
  padding-bottom: 23px;
  background-color: $body-bg;
  @include media($md) {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 17px;
    padding-right: 13px;
  }
  @include media($lg) {
    padding: 36px 33px 36px 37px;
  }
}
.footer__info {
  @include media($md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 37px;
  }
  @include media($lg) {
    grid-gap: 110px;
  }
}
.footer__title {
  margin-bottom: 34px;
  text-align: center;
  @include font(21px, 26px, 700);
  @include media($md) {
    margin-bottom: 0;
  }
}
.footer__socials {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  list-style-type: none;

  @include media($md) {
    margin-bottom: 0;
  }
}
.social__link{
  width: 47px;
  height: 48px;
  background-color: $nav-bg;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  position: relative;
  color: #fff;
  &:hover {
    background-color: $body-bg-hover;
  }
  &:active{
    background-color: #5496BD;
    color: rgba(255, 255, 255, .3);
  }
}
.footer__social {
  display: block;
  width: 20px;
  height: 20px;
}
.footer__bottom {
  display: flex;
  justify-content: center;
}
.footer__desc {
  margin-right: 15px;
  @include font(14px, 26px, 400);
  @include media($md) {
    margin-right: 12px;
    margin-top: 3px;
  }
  @include media($lg) {
    margin-right: 13px;
    margin-top: 3px;
  }
}
.footer__logo {
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.footer__img {
  cursor: pointer;
  border: none;
  transition: 0.2s;
  &:hover {
    background: url(../img/footer/htmlacademy-hover.png) 50% 50% no-repeat;
  }
  &:focus {
    background: $body-bg-focus;
    background: url(../img/footer/htmlacademy-down.png) 50% 50% no-repeat;
  }
}
