.form__container {
  padding: 0;
}
.form__list {
  display: flex;
  flex-direction: column;
}
.form__inline {
  @include media($md) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.form__wrap {
  position: relative;
}
.form__column {
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 320px;
  margin: 0 auto;
  @include media($md) {
    max-width: 648px;
  }
}
.form__label-wrap{
  @include media($md) {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 0 auto;
  }
}
.form__label {
  display: flex;
}
.form__label--inline-input:not(:last-child) {
  margin-bottom: 20px;
}
.form__label--column {
  display: flex;
  flex-direction: column;
}
.form__label--column:not(:last-child) {
  margin-bottom: 12px;
}
.form__box {
  margin-top: 8px;
}
.form__box--inline {
  display: flex;
}
.form__label--inline-check {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  @include media($md) {
    margin-bottom: 24px;
  }
}
.form__label--inline-check:not(:last-child) {
  margin-bottom: 24px;
}
.form__label--inline-radio {
  align-items: center;
}
.form__label--inline-radio:not(:last-child) {
  margin-bottom: 13px;
}
.form__text {
  @include font(18px, 26px, 700);
  color: $brand-color;
  margin-left: 22px;
}
.form__textarea {
  max-width: 320px;
  display: flex;
  margin: 0 auto;
}
.form__button {
  margin: 0 auto;
}
