.form__container {
  padding: 0;
}
.form__wrap {
  position: relative;
}
.form__column {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  max-width: 320px;
  margin: 0 auto;
}
.form__label {
  display: flex;
}
.form__label--inline-input:not(:last-child) {
  margin-bottom: 20px;
}
.form__label--column {
  display: flex;
  flex-direction: column;
}
.form__label--column:not(:last-child) {
  margin-bottom: 12px;
}
.form__box {
  margin-top: 8px;
}
.form__box--inline {
  display: flex;
}
.form__label--inline-check {
  display: inline-flex;
  align-items: center;
  // gap: 26px;
  justify-content: flex-start;
}
.form__label--inline-check:not(:last-child) {
  margin-bottom: 24px;
}
.form__label--inline-radio {
  align-items: center;
}
.form__label--inline-radio:not(:last-child) {
  margin-bottom: 13px;
}
.form__text {
  @include font(18px, 26px, 700);
  color: $brand-color;
  margin-left: 22px;
}
.form__textarea {
  max-width: 320px;
  display: flex;
  margin: 0 auto;
}
.form__button {
  margin: 0 auto;
}
