.header {
  position: relative;
}
.header__top {
  background-color: $body-bg;
}
.header__container {
  padding-top: 16px;
  display: flex;
  @include media($md) {
    display: block;
  }
}
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-bg-text;
  z-index: 2;
  transition: transform 0.2s ease;
  transform: translateX(-100%);
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  padding-top: 23px;
  overflow-y: auto;
  @include media($md) {
    position: static;
    opacity: 1;
    transform: none;
    background-color: $body-bg;
    padding-top: 0;
  }
}
.header__nav--active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.header__logo {
  margin-left: auto;
  padding-left: 25px;
  @include media($md) {
    margin-right: auto;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-top: -55px;
  }
}
.header__burger {
  margin-left: auto;
  z-index: 3;
  position: relative;
  @include media($md) {
    display: none;
  }
}
.header__center {
  background: url(../img/intro.jpg) center center/ cover no-repeat;
  min-height: 345px;
  margin-top: -21px;
  @include media($md) {
    min-height: 518px;
  }
}
