.info--right {
  @include media($md) {
    display: flex;
  }
}
.info--left {
  @include media($md) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.info--triangle {
  position: relative;
  background-color: #81b3d2;
}
.info--triangle:after {
  content: " ";
  top: -4px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 32px;
  background: url(../img/info/intro-triangle-white.svg) center bottom/cover
    no-repeat;
  margin-top: -1px;
  @include media($sm) {
    top: 0;
    height: 37px;
  }
  @include media($md) {
    display: none;
  }
}
.info__item {
  padding: 53px 14px 40px 12px;
  color: $second-color;
  background-color: $nav-bg;
  text-align: center;
  flex-grow: 2;
  @include media($md) {
    min-width: 256px;
    padding: 39px 20px 44px 21px;
  }
  @include media($lg) {
    padding: 45px 55px 27px 55px;
  }
}
.info__item--height {
  padding: 39px 10px 36px 10px;
  @include media($md) {
    padding: 43px 33px 41px;
  }
  @include media($lg) {
    padding: 51px 85px 27px;
  }
}
.info__h3 {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 10px;
  @include media($md) {
    max-width: 151px;
    margin-bottom: 13px;
  }
  @include media($lg) {
    margin-bottom: 13px;
  }
}
.info__number {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 17px;
  @include font(14px, 21px, 400);
  @include media($md) {
    margin-bottom: 23px;
  }
  @include media($lg) {
    margin-bottom: 24px;
  }
}
.info__desc {
  max-width: 320px;
  margin: 0 auto;
  @include media($md) {
    max-width: 214px;
  }
  @include media($lg) {
    max-width: 326px;
  }
}
.info__desc--width{
  @include media($lg) {
    max-width: 260px;
  }
}
.info__img {
  display: block;
  width: 100%;
  background-color: $nav-bg;
  object-fit: cover;
  @include media($md) {
    height: 100%;
  }
}
.inclusive__img-info {
  width: 100%;
  height: 256px;
  flex-shrink: 3;
}
