.input {
  background-color: $body-bg-input;
  border: none;
  @include font(18px, 26px, 700);
  color: $brand-color;
  cursor: pointer;
  transition:  outline-color 0.2s ease;
  outline: transparent solid 4px;
  outline-offset: -4px;
  width: 100%;
  padding: 18px 22px 14px;
  &:hover {
    background-color: $disabled;
  }
  &:focus {
    background-color: $body-bg;
    outline: 4px solid #e5e5e5;
  }
}
.input::placeholder {
  @include font(18px, 26px, 700);
  color: $brand-color;
  opacity: 1;
}
