.item__name {
  margin-top: 45px;
  margin-bottom: 10px;
  @include font(18px, 26px, 700);
  @include media($md) {
    margin-top: 30px;
    margin-bottom: 12px;
    @include font(21px, 26px, 700);
  }
  @include media($lg) {
    padding: 0 37px;
    margin-top: 38px;
  }
}
.item__number {
  margin-bottom: 17px;
  @include font(14px, 21px, 400);
  @include media($md) {
    margin-bottom: 23px;
  }
  @include media($lg) {
    margin-bottom: 24px;
  }
}
.item__desc {
  margin-bottom: 29px;
  @include font(14px, 21px, 400);
}
