.map__container {
  padding: 0;
  position: relative;
}
.map__wrap {
  position: relative;
}
.map__img {
  display: block;
  width: 100%;
  background-color: $nav-bg;
  object-fit: cover;
  @include media($md) {
    height: 100%;
  }
}
.map__point {
  width: 27px;
  height: 27px;
  background-color: $map-point-color;
  border-radius: 50%;
  border: 4px solid $map-point-outline-color;
  position: absolute;
  inset: 0;
  margin: auto;
}
