.map__container {
  padding: 0;
}
.map__wrap:before {
  position: absolute;
  width: 27px;
  height: 27px;
  background-color: $body-bg;
  border-radius: 50%;
<<<<<<< HEAD
  top: 0;
=======
  top:0;
>>>>>>> 87806671613e9a6cfdf4304445490d50ec2b9a4b
}
.map__wrap {
  position: relative;
}
.map__img {
  display: block;
  width: 100%;
  background-color: $nav-bg;
  object-fit: cover;
  @include media($md) {
    height: 100%;
  }
}
