.name {
  color: $name-color;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  @include font(14px, 26px, 400);
}
.name--top {
  margin-top: 5px;
}
.name--right {
  margin-right: 15px;
}
.name--left {
  margin-left: 21px;
  @include media($lg) {
    margin-left: -2px;
    margin-right: 17px;
    margin-top: 8px;
  }
}
.name--hidden {
  @include media($lg) {
    width: 70px;
    height: 26px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }
}
