.reasons__container {
  padding: 0;
}
.reasons__top {
  padding: 0 16px;
}
.reasons__title {
  margin-top: 42px;
  color: $brand-color;
  text-align: center;
  margin-bottom: 31px;
  padding: 0 5px;
  @include media($md) {
    margin-bottom: 31px;
    padding: 0 124px;
    margin-top: 45px;
  }
  @include media($lg) {
    margin-top: 55px;
    padding: 0 358px;
  }
}
.reasons__subtitle {
  color: $brand-color;
  text-align: center;
  margin-bottom: 28px;
  @include media($md) {
    margin-bottom: 52px;
  }
  @include media($lg) {
    margin-bottom: 41px;
  }
}
.reasons__bottom{
  @include media($md) {
    display: flex;
  }
}
.reasons__item {
  padding: 10px 0;
  color: $second-color;
  background-color: $nav-bg;
  text-align: center;
  @include media($md) {
    width: 33%;
    padding: 10px 16px;
  }
  @include media($lg) {
    padding: 47px 42px 57px;
  }
}
.reasons__img{
  display: block;
  width: 100%;
  min-height: 260px;
  background: url("../img/photo-city-mobile-x2.jpg") center center/ cover no-repeat;
  @include media($md) {
    min-height: 256px;
  }
}