.reasons__container {
  padding: 0;
}
.reasons__top {
  padding: 0 16px;
}
.reasons__title {
  margin-top: 42px;
  color: $brand-color;
  text-align: center;
  margin-bottom: 31px;
  padding: 0 5px;
  @include media($md) {
    margin-bottom: 31px;
    padding: 0 124px;
    margin-top: 45px;
  }
  @include media($lg) {
    margin-top: 55px;
    padding: 0 358px;
  }
}
.reasons__subtitle {
  color: $brand-color;
  text-align: center;
  margin-bottom: 28px;
  @include media($md) {
    margin-bottom: 52px;
  }
  @include media($lg) {
    margin-bottom: 42px;
  }
}
.reasons__bottom {
  @include media($md) {
    display: flex;
    margin-bottom: 60px;
  }
}
.reasons__item {
  position: relative;
  padding: 10px 0;
  color: $second-color;
  background-color: $nav-bg;
  text-align: center;
  flex-grow: 1;
  @include media($md) {
    width: 33%;
    padding: 10px 20px;
  }
  @include media($lg) {
    padding: 10px 55px;
  }
}
.reasons__item:after {
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 37px;
  width: 100%;
  background: url(../img/intro-triangle-blue.svg) center center/ cover no-repeat;
  margin-top: -1px;
  @include media($md) {
    display: none;
  }
}
.reasons__img {
  display: block;
  width: 100%;
  background-color: $nav-bg;
}
