.reasons__container {
  padding: 0;
}
.reasons__top {
  padding: 0 16px;
}
.reasons__title {
  margin-top: 42px;
  color: $brand-color;
  text-align: center;
  margin-bottom: 31px;
  padding: 0 5px;
  @include media($md) {
    margin-bottom: 31px;
    padding: 0 124px;
    margin-top: 45px;
  }
  @include media($lg) {
    margin-top: 55px;
    padding: 0 358px;
  }
}
.reasons__subtitle {
  color: $brand-color;
  text-align: center;
  margin-bottom: 28px;
  @include media($md) {
    margin-bottom: 52px;
  }
  @include media($lg) {
    margin-bottom: 42px;
  }
}
.reasons__info {
  @include media($md) {
    margin-bottom: 60px;
    height: 257px;
  }
}

