.search__container {
  padding: 33px 16px 48px;
  @include media($md) {
    padding: 57px 68px 58px;
  }
  @include media($lg) {
    padding-bottom: 65px;
  }
}
.search__top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__title {
  margin-bottom: 21px;
  @include font(21px, 26px, 700);
  @include media($md) {
    max-width: 400px;
    margin-bottom: 32px;
    @include font(30px, 26px, 700);
  }
  @include media($lg) {
    margin-bottom: 32px;
  }
}
.search__subtitle {
  margin-bottom: 24px;
  max-width: 263px;
  @include media($md) {
    margin-bottom: 35px;
    max-width: 400px;
  }
  @include media($lg) {
    margin-bottom: 40px;
  }
}

