.textarea {
  width: 100%;
  height: 160px;
  font-family: PT Sans;
  @include font(18px, 26px, 700);
  color: $brand-color;
  resize: none;
  margin-bottom: 51px;
  border: none;
  background-color: $body-bg-input;
  padding: 12px 20px;
  cursor: pointer;
  @include media($md) {
    max-width: 648px;
  }
  &:hover {
    background-color: $disabled;
  }
  &:focus {
    background-color: $body-bg;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}
textarea::placeholder {
  opacity: 1;
  color: $brand-color;
}
