.title {
  margin: 0 auto;
  @include font(19px, 26px, 700);
  text-align: center;
}
.title--mg-x {
  margin-bottom: 15px;
}
.title--mg-xs {
  margin-bottom: 17px;
}
.title--mg-sm {
  margin-bottom: 19px;
}
.title--mg-md {
  margin-bottom: 25px;
}
