.title {
  margin: 0 auto;
  @include font(19px, 26px, 700);
}
//   $xs: 350px;
// $sm: 556px;
// $md: 768px;
// $lg: 1200px;
.title--mg-xs {
  margin-bottom: 17px;
}
.title--mg-sm {
  margin-bottom: 19px;
}
.title--mg-md {
  margin-bottom: 25px;
}
