.video {
  background: url("../img/video/video-mobile-2x.jpg") center center/ cover
    no-repeat;
  background-color: $nav-bg;
  min-height: 202px;
  position: relative;
  padding: 0 20px;
  @include media($md) {
    min-height: 500px;
    padding: 30px 0 0;
    background-image: -webkit-image-set(
      url("../img/video/video-desktop-1x.jpg") 1x,
      url("../img/video/video-desktop-2x.webp") 2x
    );
    background-image: image-set(
      url("../img/video/video-desktop-1x.jpg") 1x,
      url("../img/video/video-desktop-2x.webp") 2x
    );
  }
  @include media($lg) {
    max-width: 800px;
    margin: 0 auto;
  }
}
.video__wrap-button {
  position: absolute;
  bottom: -69px;
  width: 87%;
  background-color: $body-bg-input;
  padding: 23px 18px 23px 16px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  @include media($md) {
    bottom: 0px;
    background-color: transparent;
    width: 100%;
    padding: 29px 37px 34px 28px;
    left: 0;
    transform: none;
  }
}
.video__button-icon:nth-child(1) {
  margin-right: auto;
}
.video__button-icon:nth-child(2) {
  margin-right: 24px;
}
