.wrap {
  padding: 19px 20px 26px;
  border-top: 1px solid $disabled;
  @include media($md) {
    border-top: 1px solid transparent;
  }
}
.wrap--bt {
  padding-bottom: 28px;
  @include media($md) {
    padding-right: 59px;
  }
}
.wrap--lf-xs{
  padding-left: 3px;
}
.wrap--bt-xs {
  padding-bottom: 25px;
}
.wrap--lf-lg {
  @include media($md) {
    padding-left: 59px;
    padding-right: 58px;
  }
  @include media($lg) {
    padding-left: 119px;
    padding-right: 119px;
    padding-top: 43px;
  }
}
.wrap--lf {
  @include media($md) {
    padding-left: 58px;
    padding-right: 0;
  }
  @include media($lg) {
    padding-left: 123px;
  }
}
.wrap--lf-rg {
  @include media($md) {
    padding-left: 59px;
    padding-right: 58px;
  }
  @include media($lg) {
    padding-left: 79px;
    padding-right: 119px;
  }
}
.wrap--top {
  padding-top: 14px;
  @include media($md) {
    padding-top: 23px;
  }
}
.wrap--top-md {
  @include media($md) {
    padding-top: 42px;
    padding-left: 60px;
    @include media($lg) {
      padding-top: 39px;
      padding-left: 120px;
      padding-right: 121px;
    }
  }
}
.wrap--1 {
  @include media($md) {
    order: 2;
    width: 50%;
  }
}
.wrap--2 {
  @include media($md) {
    order: 3;
    width: 100%;
  }
}
.wrap--3 {
  display: flex;

  align-items: center;
  margin: 0 auto;
  justify-content: center;

  @include media($md) {
    width: 50%;
  }
}
