.wrap {
  padding: 19px 20px 26px;
  border-top: 1px solid $disabled;
}
.wrap--bt {
  padding-bottom: 28px;
}
.wrap--bt-xs {
  padding-bottom: 25px;
}
.wrap--top {
  padding-top: 14px;
}
.wrap--1 {
  @include media($md) {
    order: 2;
  }
}
.wrap--2 {
  @include media($md) {
    order: 3;
    width: 80%;
  }
}
